#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.search-results-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
  gap: 1rem;
  padding: 0 1rem;
}

#searchResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  border: 2px solid #FF6926;
  border-radius: 10px;
  max-height: 500px;
  overflow: scroll;
  overflow-x: hidden;
  max-width: 100%;
  min-width: 20%;
  max-height: 60vh;
}